:root {
    --pixelSize: 7px;
    --columns: 90;
}

body {
    background-color: azure;
}

.container {
    max-width: 800px;
    margin: 10px auto;;
}

h1 {
    text-align: center;
}

.control {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    min-height: 150px;
    background-image: url('./img/sid.png');
    background-repeat: no-repeat;
    background-position-x: 5%;
    background-size: contain;
}

form {
    margin-left: 30%;
}

.inputField {
    margin-bottom: 10px;
}


.paper {
    padding: 20px;
    min-height: 400px;
}

.sheet {
    height: 400px;
    width: 100%;
    box-shadow: 3px 3px 10px 5px grey;
    background-color: white;
}

td {
    width: 7px;
    height: 7px;
}
    