:root {
    --pixelSize: 4px;
}

body {
    background-color: azure;
}

.container {
    max-width: 800px;
    margin: 10px auto;;
}

h1 {
    text-align: center;
}

.control {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    min-height: 150px;
    background-image: url('./img/sid.png');
    background-repeat: no-repeat;
    background-position-x: 5%;
    background-size: contain;
}

form {
    margin-left: 30%;
}

.inputField {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

label {
    flex-grow: 1;
    margin-right: 10px;
}

output {
    width: 3em;
    text-align: right;
}


.paper {
    padding: 20px;
    min-height: 400px;
}

table {
    margin: 0 auto;
    box-shadow: 3px 3px 10px 5px grey;
    background-color: white;
    border-spacing: 0;
}

td {
    width: var(--pixelSize);
    height: var(--pixelSize);
    padding: 0;
}

.pointed {
    background-color: red;
}
    